tensorflow==2.15.0 ; python_version < "3.12"
tensorflow==2.21.0 ; python_version >= "3.12"
tf-keras==2.21.0 ; python_version >= "3.12"
tensorflow-metal==1.2.0 ; platform_system=="Darwin" and platform_machine=="arm64"

fastapi==0.110.0
uvicorn==0.27.1

numpy==1.26.4 ; python_version < "3.13"
numpy>=2.1,<2.3 ; python_version >= "3.13"
pillow==10.2.0 ; python_version < "3.13"
pillow>=11.0,<12 ; python_version >= "3.13"

python-multipart==0.0.9
